body {
    margin: 10px;
}

#capa {
    background-image: url(../images/capa_jogo.png);
    width: 774px;
    height: 447px;
    margin: auto;
}

#iniciarJogo {
    background: #f3f3fc;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;    
    float: left;
    margin: 390px 575px 0;
    width: 150px;
    display: block;
    text-align: center;
    color: #bf1135;
    border-radius: 110px;
    font-weight: bold;
}

#iniciarJogo:hover {
    background: #bf1135;
    color: #f3f3fc;
}

#jogo {
    background-image: url(../images/grama.png);
    width: 784px;
    height: 540px;
    margin: auto;
    padding-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
}

#botoesMenu a {
    text-decoration: none;
    color: #010d69;
    font-family: Arial;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 15px;
    margin: 40px 30px;
    border-radius: 5px;
}

#botoesMenu #iniciarBotao.ativado {
    pointer-events: none;
    opacity: .7;
}

#pistas {
    width: 780px;
    height: 368px;
    background-color: #555;
    border-top: 2px solid #dcd400;
    border-right: 2px solid #dcd400;
    border-left: 2px solid #dcd400;
    margin: 45px 0;
}

#pistas .largada {
    width: 105px;
    height: 90px;
    background-color: #5f5f5f;    
    border-right: 2px solid #dcd400;
    border-bottom: 2px solid #dcd400;
    text-align: center;
    font-family: "Arial-Black";
    font-size: 50px;
    color: #ffffff;
    float: left;
}

#pistas .pistaCorrer {
    width: 575px;
    height: 90px;
    float: left;
    border-bottom: 2px solid #dcd400; 
}

#pistas .final {
    width: 98px;
    height: 90px;
    float: left;
    background-image: url(../images/final.png);
    background-repeat: no-repeat;
    border-bottom: 2px solid #dcd400;
}

#carro1,#carro2,#carro3,#carro4 {
    position: absolute;
    left: 0px;
}

.vencedor {
    font-family: Arial;
    font-size: 30px;
    color: #b53f3f;
    text-align: center;
    text-shadow: 0 0 10px #000;
}

.vencedor img, .vencedor p {
    display: inline-block;
    vertical-align: middle;
}